<article>
  <h1>Sign In</h1>
  <%= form_tag sessions_create_url do %>
    <ul>
      <li class="text">
        <%= label_tag :email, "Email"%>
        <%= text_field_tag :email %>
      </li>
      <li class="text">
        <%= label_tag :password, "Password"%>
        <%= password_field_tag :password %>
      </li>
      <li class="submit">
        <%= submit_tag "Sign In" %>
      </li>
    </ul>
  <% end %>
</article>
