<aside>
  <div class="box">
    <h1>Flight Search</h1>
    <%= form_tag flights_url, :method => :get do %>
      <ul>
        <li class="text">
          <%= label_tag :from, "From"%>
          <%= text_field_tag :from %>
        </li>
        <li class="text">
          <%= label_tag :to, "To"%>
          <%= text_field_tag :to %>
        </li>
      
        <li class="check">
          <strong>Stops</strong>
          <%= check_box_tag :nonstop %><%= label_tag :nonstop, "Nonstop" %>
          <%= check_box_tag :onestop %><%= label_tag :onestop, "1 Stop" %>
          <%= check_box_tag :plusstop %><%= label_tag :plusstop, "2+ Stops", :class  => "last" %>
        </li>
        <li class="check">
          <strong>Meal Service</strong>
          <%= check_box_tag :meal %><%= label_tag :meal, "Yes" %>
          <%= check_box_tag :nomeal %><%= label_tag :nomeal, "No" %>
        </li>
        <li class="submit">
          <%= submit_tag "Search" %>
        </li>
        <li class="hint">
          (<%= link_to "View All Available Airports", airports_url %>)
        </li>
      </ul>
    <% end %>
  </div>
</aside>

<section>
  <table>
    <tr>
      <th>Number</th>
      <th>Time</th>
      <th>Departure</th>
      <th>Arrival</th>
      <th>Distance</th>
      <th>Meal Service</th>
      <th></th>
    </tr>
    <%= render @flights %>
  </table>
</section>

<div class="clear"></div>