<article>
  <h1>Sign Up</h1>
  <%= form_for @user do |form| %>
    <ul>
      <li class="text">
        <label for="user_first_name">First Name</label>
        <%= form.text_field :first_name %>
      </li>
      <li class="text">
        <label for="user_last_name">Last Name</label>
        <%= form.text_field :last_name %>
      </li>
      <li class="text">
        <label for="user_email">Email</label>
        <%= form.text_field :email %>
      </li>
      <li class="text">
        <label for="user_password">Password</label>
        <%= form.password_field :password %>
      </li>
      <li class="text">
        <label for="user_password_confirmation">Confirm Password</label>
        <%= form.password_field :password_confirmation %>
      </li>
      <li class="submit">
        <%= form.submit "Create Account" %>
      </li>
    </ul>
  <% end %>
</article>
