<article>
<h1>My Account</h1>
<p><strong>Total Miles Earned</strong>: <%= @user.miles %> Miles</p>

<h2>Personal Information</h2>
<p><%= @user.first_name %> <%= @user.last_name %><br />
<%= @user.street %><br />
<%= @user.city %>, <%= @user.state %> <%= @user.zip %></p>

<h2>My Reservations</h2>
<% @user.reservations.each do |reservation| %>
  <% if reservation.flight %>
    <p>
      <%= link_to "View Details", reservation_url(reservation) %> <%= reservation.flight.departure_airport.code %> to <%= reservation.flight.arrival_airport.code %>
      on <%= reservation.travels_on %> (<%= reservation.flight.distance %> miles)
    </p>
  <% end %>
<% end %>
</article>
